body {
  color:rgb(78,150,76);
  font-family: arial;
  margin:0px;
}
h1, h2 {
    text-align:center;
}
li:hover {
  font-size: 1.1em;
  transition: 1s ease;
}
img{
  border-radius: 50%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
